= title "Artículos y noticias deportivas"
- set_meta_tags description: "Artículos, noticias, entrevistas y temas interesates relacionados con el mundo del deporte."

.row.articles-list
  = render collection

.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    = render "subscribers/form"