= title "Preguntas frecuentes"

%h4 ¿Cómo puedo publicar un anúncio?
%ul
  %li Debes estar registrado en nuestra web.
  %li Haz clic en Crea un anuncio GRATIS, ubicado en la cabecera de la web.
  %li Rellena todos los datos que aparecen en el formulario.
  %li Haz click en el botón Crear Anuncio.
  %li Añade las imágenes que quieras que mostrar.
  %li Haz click en Finalizar publicación.

%h4 ¿Cuánto cuesta publicar un anuncio?
%p Publicar anuncios es gratuito. No existen ni comisiones por las ventas realizadas, ni ningún otro tipo de cargos. La aplicación se encarga simplemente de poner en contacto a ofertante y demandante.

%h4 ¿Cómo puedo contactar con un vendedor?
%p Podrás contactar con el vendedor por teléfono o mediante el formulario de contacto que encontrarás "Contactar con el anunciante" en la pagina de visualización del anuncio. Él recibirá un email con tu mensaje y podrá contestarte directamente desde su proveedor de email para podáis seguir con la negociación.

%h4 ¿Cómo puedo denunciar el contenido de un anuncio?
%p Si consideras que un anuncio está mal clasificado, repetido, ya está vendido, o es fraudulento,  puedes marcar en el botón "Denunciar abuso", situado en la parte inferior de la página de visualización del anuncio. Si consideras que es urgente retirar ese anuncio, háznoslo saber a través de nuestro #{link_to "formulario de contacto", new_feedback_path}. Por favor, indícanos la URL del anuncio para que podamos localizarlo y los motivos para su retirada inmediata.

%h4 Quiero dar mi opinión o aportar alguna sugerencia.
%p Si tienes alguna idea o sugerencia sobre cómo mejorar la web, o simplemente quieres darnos tu opinión, escríbenos a través del #{link_to "formulario de contacto", new_feedback_path}. Agradecemos enormemente la colaboración de los usuarios y sus opiniones.

%h4 ¿Por qué se ha eliminado mi anuncio?
%p Un anuncio podrá ser eliminado por los siguientes motivos:
%ul
  %li El anuncio no pertenece a la provincia o sección especificada.
  %li El anuncio está repetido.
  %li El anuncio ha recibido muchas denuncias por parte de los usuarios de sudamos.es.
  %li El anuncio no se ajusta a las condiciones de uso.
  %li Hemos recibido una queja relacionada específicamente con el anuncio.
%p sudamos.es se reserva el derecho de eliminar o editar anuncios de acuerdo con las Condiciones de Uso, con el fin de mantener un orden en las clasificaciones de la aplicación y sin previo aviso.

%hr

%h2 Mi cuenta
%h4 He olvidado mi contraseña. ¿Cómo puedo recuperarla?
%p Puedes recuperar la contraseña rellenando el formulario que encontrarás tras seguir este enlace: #{link_to "No recuerdo la contraseña", new_password_path("user")}.
%h4 Cómo puedo gestionar (modificar, eliminar) un anuncio?
%p Debes dirigirte a tu area personal "Mi cuenta", situada en la barra superior e iniciar sesión con tu email y password. A continuación verás la lista de los anuncios publicados desde esa cuenta y podrás editarlos, gestionar las imágenes, renovarlos o borrarlos.
%h4 ¿Qué es renovar un anuncio?
%p Cuando renuevas un anuncio prorrogas el periodo de caducidad del mismo, así como sitúas el anuncio en la primera posición de la lista. Los anuncios que se renuevan a menudo tienen más posibilidades de ser vistos. La renovación manual de anuncios es gratuíta.
%h4 ¿Puedo publicar el mismo anúncio varias veces?
%p No. Únicamente se puede ofertar un artículo o servicio por anuncio. En caso de que un anuncio esté repetido, éste será eliminado.

%hr

%h2 Seguridad
%h4 Consejos de seguridad
%ul
  %li Nunca atiendas solicitudes de claves que te lleguen mediante un correo electrónico que tú no hayas solicitado.
  %li En ningún caso facilites al anunciante los datos de tu tarjeta de crédito.
  %li Nunca envíes un articulo a su comprador, hasta confirmar que el dinero de dicho artículo ha sido ingresado en tu cuenta bancaria o de Paypal, o, si lo prefieres, puedes enviar el artículo por contrareembolso, de manera que el comprador no pueda recibir el artículo hasta haber pagado por él.

%h4 Características de un posible anuncio fraudulento:
%ul
  %li Compradores o vendedores con números de teléfono extranjeros.
  %li Vendedores o compradores que viven en el extranjero.
  %li Anuncios con fotos que ha sido copiadas de internet y que no están hechas por el propio vendedor.
  %li Anuncios con precios exageradamente bajos en relación con su valor real en el mercado.
  %li Artículos que no se encuentran en España, o que no pueden ser inspeccionados previamente.

%h4 ¿Qué hago en caso de detectar una posible estafa o haber sido víctima de un fraude?
%ul
  %li Guarda todos los datos que tengas del anunciante (correo electrónico, copia del anuncio, etc.).
  %li Presenta una denuncia en la comisaría más próxima a tu domicilio.
  %li Contacta con nosotros para que podamos proporcionare toda la información que necesites.
  %li Envíanos los datos del anuncio (número de referencia del anuncio o la url), para que podamos proceder a su verificación y eliminación de la web.
