- set_meta_tags noindex: true, nofollow: true

= title "Política de privacidad"

%p El presente documento tiene por objeto describir la política de protección de datos de Sudamos.com. Los datos de carácter personal que nos proporcione serán objeto de tratamiento automatizado e incorporados a los ficheros automatizados de Sudamos.com, siendo esta Sociedad titular y responsable de sus propios ficheros, los cuales, conforme a la normativa vigente, se encuentran debidamente registrados en el Registro General de la Agencia de Protección de Datos. 

%p En los formularios del Registro donde se recaben datos de carácter personal, se señalarán los distintos campos cuya cumplimentación es necesaria para realizar el registro correspondiente. Así, salvo que se indique lo contrario las respuestas a las preguntas sobre datos personales son voluntarias, sin que la falta de contestación a dichas preguntas implique una merma en la calidad o cantidad de los servicios correspondientes, a menos que se indique otra cosa. 

%p El tratamiento automatizado a que serán sometidos todos los datos de carácter personal recogidos como consecuencia de la solicitud, utilización, contratación de cualquier producto o servicio o de cualquier transacción u operación realizada a través de esta página web (incluidos, a estos efectos, los que sean facilitados por los Usuarios para la publicación de anuncios), tiene como finalidad principal el mantenimiento de la relación contractual en su caso establecida con el propietario de esta página web. 

%p Con la utilización del formulario de contacto y previa aceptación de la política de privacidad, el usuario consiente que los datos personales relativos a su correo electrónico, sean comunicados al anunciante para posibilitar el contacto y con la finalidad de poder informarle sobre características, condiciones y cualquier otra información que sea de su interés relativa al producto seleccionado.

%p Además también serán objeto de cesión toda aquella otra información que el usuario desee incluir en el mensaje con la única finalidad de realizar el contacto necesario para una posible transacción. Se entiende, en este caso, por anunciante toda aquella persona física o jurídica que oferte todo tipo de producto en nuestra website. Ningún tercero ajeno a Sudamos.com podrá acceder, sin consentimiento expreso del Usuario a ningún otro tipo de dato de carácter personal. 

%p En el caso de las direcciones de correo electrónico o formulario de contacto de la página web, los datos que nos proporcione a través de los mismos, serán utilizados exclusivamente para atender las consultas que nos plantee por este medio. 

%p En el caso de que nos facilite datos de un tercero, por ejemplo para informar a un conocido de la publicación de un anuncio, o para recomendarle nuestra web o un artículo publicada en la misma, se le informa que usted es responsable de haber obtenido el consentimiento de la persona y de los datos de la misma que nos facilite. 

%p El Usuario titular de los datos personales podrá ejercer, en los términos y las limitaciones establecidos la normativa vigente, los derechos de acceso, rectificación, cancelación y oposición a través del envío de email desde su cuenta de usuario a nuestra cuenta destino: hola@sudamos.es

%p Sudamos.com garantiza la confidencialidad de los datos de carácter personal. Ello no obstante, revelará a las autoridades públicas competentes los datos personales y cualquier otra información que esté en su poder o sea accesible a través de sus sistemas y sea requerida de conformidad con las disposiciones legales y reglamentarias aplicables al caso. Los datos de carácter personal podrán ser conservados en los ficheros titularidad de Sudamos.com incluso una vez finalizadas las relaciones formalizadas a través del Portal, exclusivamente a los fines indicados anteriormente y, en todo caso, durante los plazos legalmente establecidos, a disposición de autoridades administrativas o judiciales. En cualquier caso le informamos que, en caso de que se vaya a realizar la cesión a terceros de sus datos personales, le será comunicada previamente especificando la identidad de los cesionarios y la finalidad con que se van a tratar los datos que se ceden. 

%p La aceptación de las condiciones de uso y política de privacidad, ligada al uso de cualquiera de los servicios de Sudamos.com, implica tu autorización expresa en favor de Sudamos.com para el envío de información comercial a su correo electrónico. Dicha autorización comprende el envío de publicidad comercial y publicitaria relacionada con las actividades, productos y servicios de Sudamos.com. Si desea revocar dicha autorización, podrá hacerlo enviando un email a hola@sudamos.es
