- set_meta_tags noindex: true, nofollow: true

= title "Términos y condiciones"

%h2 1. Objeto
%p El presente documento tiene por objeto establecer las Condiciones Generales de Uso de la página web Sudamos.com.
%p Sudamos.com se reserva el derecho a modificar las presentes Condiciones Generales de Uso con el objeto de adecuarlas a la legislación vigente aplicable en cada momento, las novedades jurisprudenciales y las prácticas habituales de mercado.
%p Las presentes Condiciones Generales de Uso no excluyen la posibilidad de que determinados Servicios de Sudamos.com, por sus características particulares, sean sometidos, además de a las Condiciones Generales de Uso, a sus propias condiciones particulares de uso (en adelante las Condiciones Particulares) 
%p La utilización por parte del Usuario de cualquiera de los Servicios de Sudamos.com supone y expresa su adhesión y aceptación expresa a todas las Condiciones Generales de Uso en la versión publicada en el presente website en el momento en que el usuario acceda a Sudamos.com, así como a las Condiciones Particulares que, en su caso, sean de aplicación.
%hr
%h2 2. Condiciones de acceso y utilización de Sudamos.com
%h3 2.1. Condición de Usuario
%p La utilización de cualquier Servicio de Sudamos.com atribuye la Condición de Usuario del mismo.
%h3 2.2. Necesidad de Registro
%p Con carácter general para el acceso a los Servicios de Sudamos.com no será necesario el Registro del Usuario de Sudamos.com. No obstante la utilización de determinados Servicios podrá estar condicionada al Registro Previo del Usuario. Este registro se efectuará en la forma expresamente señalada en el propio Servicio o en las Condiciones Particulares que le sean de aplicación.
%h3 2.3. Gratuidad de los Servicios
%p Con carácter general los Servicios ofertados a través de Sudamos.com tendrán carácter gratuito. No obstante, la utilización de determinados Servicios de Sudamos.com puede, o podrá estar en el futuro, sujeta a contraprestación económica en la forma y términos que se determine en las Condiciones Particulares del Servicio.
%h3 2.4. Uso de Sudamos.com y sus Servicios
%p El Usuario reconoce y acepta que el uso de los contenidos y/o servicios ofrecidos por Sudamos.com será bajo su exclusivo riesgo y/o responsabilidad.
%p El Usuario se compromete a utilizar Sudamos.com y todo su contenido y Servicios conforme a lo establecido en la ley, la moral, el orden público y en las presentes Condiciones Generales de Uso, y en las Condiciones Particulares que, en su caso, le sean de aplicación. Asimismo, se compromete hacer un uso adecuado de los servicios y/o contenidos de Sudamos.com y a no emplearlos para realizar actividades ilícitas o constitutivas de delito, que atenten contra los derechos de terceros y/o que infrinjan la regulación sobre propiedad intelectual e industrial, o cualesquiera otras normas del ordenamiento jurídico aplicable. 
%p El Usuario se compromete a no trasmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo de material e información (datos contenidos, mensajes, dibujos, archivos de sonido e imagen, fotografías, software, etc.) que sean contrarios a la ley, la moral, el orden público y las presentes Condiciones Generales de Uso y, en su caso, a las Condiciones Particulares que le sean de aplicación. A título enunciativo, y en ningún caso limitativo o excluyente, el Usuario se compromete a:
%ul
  %li I. No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo o que atenten contra los derechos humanos.
  %li II. No introducir o difundir en la red programas de datos (virus y software nocivo) susceptibles de provocar daños en los sistemas informáticos del proveedor de acceso, sus proveedores o terceros usuarios de la red Internet.
  %li III. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que atente contra los derechos fundamentales y las libertades públicas reconocidos constitucionalmente y en los tratados internacionales.
  %li IV. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que constituya publicidad ilícita o desleal.
  %li V. No transmitir publicidad no solicitada o autorizada, material publicitario, "correo basura", "cartas en cadena", "estructuras piramidales", o cualquier otra forma de solicitación, excepto en aquellas áreas (tales como espacios comerciales) que hayan sido exclusivamente concebidas para ello. 
  %li VI. No introducir o difundir cualquier información y contenidos falsos, ambiguos o inexactos de forma que induzca a error a los receptores de la información.
  %li VII. No suplantar a otros usuarios utilizando sus claves de registro a los distintos servicios y/o contenidos de los Portales.
  %li VIII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que suponga una violación de los derechos de propiedad intelectual e industrial, patentes, marcas o copyright que correspondan a los titulares de los Portales o a terceros.
  %li IX. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que suponga una violación del secreto de las comunicaciones y la legislación de datos de carácter personal.
%hr
%h2 3. Propiedad intelectual e industrial
%p Los contenidos, elementos e información a los que el usuario pueda acceder a través de Sudamos.com están sujetos a derechos de propiedad industrial e intelectual, patentes marcas, copyright del titular de Sudamos.com o de terceros titulares de los mismos. En consecuencia el acceso a éstos contenidos o elementos no otorga al Usuario el derecho de alteración, modificación, explotación, reproducción, distribución o comunicación pública o cualquier otro derecho que corresponda al titular del derecho afectado.
%p El Usuario se compromete a utilizar los contenidos y/o elementos a los que acceda a través de los Servicios de Sudamos.com para su propio uso y necesidades, y a no realizar en ningún caso una explotación comercial, directa o indirecta de los mismos. 
%hr
%h2 4. Exclusión de garantías. Responsabilidad.
%h3 4.1. Disponibilidad y Continuidad de Sudamos.com y los Servicios
%p Sudamos.com no garantiza la disponibilidad, acceso y continuidad del funcionamiento de Sudamos.com y de sus Servicios. 
%p Sudamos.com no será responsable, con los límites establecidos en el Ordenamiento Jurídico vigente, de los daños y perjuicios causados al Usuario como consecuencia de la indisponibilidad, fallos de acceso y falta de continuidad de Sudamos.com y sus Servicios.
%h3 4.2. Contenidos y Servicios de Sudamos.com
%p Sudamos.com responderá única y exclusivamente de los Servicios que preste por sí misma y de los contenidos directamente originados por Sudamos.com e identificados con su copyright. Dicha responsabilidad quedará excluida en los casos en que concurran causas de fuerza mayor o en los supuestos en que la configuración de los equipos del Usuario no sea la adecuada para permitir el correcto uso de los servicios de Internet prestados por Sudamos.com. En cualquier caso, la eventual responsabilidad de Sudamos.com frente al usuario por todos los conceptos quedará limitada como máximo al importe de las cantidades percibidas directamente del Usuario por Sudamos.com, con exclusión en todo caso de responsabilidad por daños indirectos o por lucro cesante.
%h3 4.3. Contenidos y Servicios de Terceros
%p Sudamos.com no controla previamente, aprueba ni hace propios los contenidos, servicios, opiniones, comunicaciones datos, archivos, productos y cualquier clase de información de terceros, personas jurídicas o físicas, recogidos en el Portal. De igual forma, no garantiza la licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los contenidos, informaciones y Servicios de terceros en el Portal. 
%p Sudamos.com no controla con carácter previo y no garantiza la ausencia de virus y otros elementos en los Contenidos y servicios prestados por terceros a través de Sudamos.com que puedan introducir alteraciones en el sistema informático, documentos electrónicos o ficheros de los usuarios.
%p Sudamos.com no será responsable, ni indirectamente ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la utilización y contratación de los Contenidos y de los Servicios de terceros en el Portal así como de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos. Con carácter enunciativo, y en ningún caso limitativo, no será responsable por los daños y perjuicios de cualquier naturaleza derivados de a) la infracción de los derechos propiedad intelectual e industrial y el cumplimiento defectuoso o incumplimiento de los compromisos contractuales adquiridos por terceros; b) la realización de actos de competencia desleal y publicidad ilícita; c) la inadecuación y defraudación de las expectativas de los Servicios y Contenidos de los terceros; d) los vicios y defectos de toda clase de los Servicios y contenidos de terceros prestados a través de Sudamos.com.
%p Sudamos.com no será responsable, ni indirectamente ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza causados al Usuario como consecuencia de la presencia de virus u otros elementos en los contenidos y Servicios prestados por terceros que puedan producir alteraciones en el sistema informático, documentos electrónicos o ficheros de los usuarios.
%p La exoneración de responsabilidad señalada en los párrafos anteriores será de aplicación en el caso de que Sudamos.com no tenga conocimiento efectivo de que la actividad o la información almacenada es lícita o de que lesiona bienes o derechos de un tercero susceptibles de indemnización, o si la tuviesen actúen con diligencia para retirar los datos y contenidos o hacer imposible el acceso a ellos.
%h3 4.4. Conducta de los Usuarios
%p Sudamos.com no garantiza que los Usuarios de Sudamos.com utilicen los contenidos y/o servicios del mismo de conformidad con la ley, la moral, el orden público, ni las presentes Condiciones Generales y, en su caso, las condiciones Particulares que resulten de aplicación. Asimismo, no garantiza la veracidad y exactitud, exahustividad y/o autenticidad de los datos proporcionados por los Usuarios.
%p Sudamos.com no será responsable, indirecta ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la utilización de los Servicios y Contenidos de los Portales por parte de los Usuarios o que puedan derivarse de la falta de veracidad, exactitud y/o autenticidad de los datos o informaciones proporcionadas por los Usuarios, o de la suplantación de la identidad de un tercero efectuada por un Usuario en cualquier clase de actuación a través de Sudamos.com. A título enunciativo, pero no limitativo, Sudamos.com no será responsable indirecta o subsidiariamente de a) los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras personas o entidades que se comuniquen o exhiban a través de Sudamos.com; b) los daños y perjuicios causados a terceros derivados de la utilización por parte del Usuario de los servicios y contenidos de Sudamos.com; c) Los daños y perjuicios causados por la falta de veracidad, exactitud o incorrección de la identidad de los usuarios y de toda información que éstos proporcionen o hagan accesible a otros usuarios; d) de los daños y perjuicios derivados de infracciones de cualquier usuario que afecten a los derechos de otro usuario, o de terceros, incluyendo los derechos de copyright, marca, patentes, información confidencial y cualquier otro derecho de propiedad intelectual e industrial. 
%hr
%h2 5. Contratación con terceros a través de Sudamos.com
%p El Usuario reconoce y acepta que cualquier relación contractual o extracontractual que, en su caso, formalice con los anunciantes o terceras personas contactadas a través de Sudamos.com, así como su participación en concursos, promociones, compraventa de bienes o servicios, se entienden realizados única y exclusivamente entre el Usuario y el anunciante y/o tercera persona. En consecuencia, el Usuario acepta que Sudamos.com no tiene ningún tipo de responsabilidad sobre los daños o perjuicios de cualquier naturaleza ocasionados con motivo de sus negociaciones, conversaciones y/o relaciones contractuales o extracontractuales con los anunciantes o terceras personas físicas o jurídicas contactadas a través de Sudamos.com. 
%hr
%h2 6. Dispositivos técnicos de enlace
%p El Portal pone a disposición de los Usuarios dispositivos técnicos de enlace y herramientas de búsqueda que permiten a los Usuarios el acceso a websites titularidad de otras entidades (enlaces).
%p El Usuario reconoce y acepta que la utilización de los Servicios y contenidos de las websites enlazadas será bajo su exclusivo riesgo y responsabilidad y exonera a Sudamos.com de cualquier responsabilidad sobre disponibilidad técnica de las websites enlazadas, la calidad, fiabilidad exactitud y/o veracidad de los servicios, informaciones, elementos y/o contenidos a los que el Usuario pueda acceder en las mismas y en los directorios de búsqueda incluidos en el Portal. 
%p Sudamos.com no será responsable indirecta ni subsidiariamente de los daños y perjuicios de cualquier naturaleza derivados de a) el funcionamiento, indisponibilidad, inaccesibilidad y la ausencia de continuidad de las websites enlazadas y/o los directorios de búsqueda disponibles; b) la falta de mantenimiento y actualización de los contenidos y servicios contenidos en las web sites enlazadas; c) la falta de calidad, inexactitud, ilicitud, inutilidad de los contenidos y servicios de las web sites enlazadas. 
%p La exoneración de responsabilidad señalada en los párrafos anteriores será de aplicación en el caso de que Sudamos.com no tenga conocimiento efectivo de que la actividad o la información a la que remite es lícita o de que lesiona bienes o derechos de un tercero susceptibles de indemnización o, si la tuviese, actúe con diligencia para retirar los datos y contenidos o hacer imposible el acceso a ellos
%hr
%h2 7. Protección de datos de carácter personal
Antes de completar el Registro de Usuarios deberá leer la siguiente información sobre #{link_to "Protección de Datos y Ley de Servicios de la Sociedad de la Información", page_path("privacy")}.
%hr
%h2 8. Varios
%h3 8.1. Modificaciones
%p Sudamos.com se reserva el derecho a efectuar las modificaciones que estime oportunas, pudiendo modificar, suprimir e incluir, unilateralmente y sin previo aviso, nuevos contenidos y/o servicios, así como la forma en que éstos aparezcan presentados y localizados. 
%h3 8.2. Derecho de exclusión
%p Sudamos.com se reserva el derecho a denegar o retirar el acceso al portal y/o los servicios ofrecidos, sin necesidad de preaviso a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso y/o las condiciones Particulares que, en su caso, resulten de aplicación. 
%h3 8.3. Menores de Edad
%p Con carácter general, para hacer uso de los Servicios de Sudamos.com los menores de edad deben haber obtenido previamente la autorización de sus padres, tutores o representantes legales, quienes serán responsables de todos los actos realizados a través de Sudamos.com por los menores a su cargo. En aquellos Servicios en los que expresamente se señale, el acceso quedará restringido única y exclusivamente a mayores de 18 años.
%hr
%h2 9. Duración y terminación
%p La prestación de los servicios y/o contenidos de Sudamos.com tiene una duración indefinida. Sin perjuicio de lo anterior, Sudamos.com, está facultada para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de preaviso, la prestación del servicio y de Sudamos.com y/o de cualquiera de los servicios, sin perjuicio de lo que se hubiera dispuesto al respecto en las correspondientes Condiciones Particulares.
%hr
%h2 10. Ley y jurisdicción
%p Todas las cuestiones relativas al Portal se rigen por las Leyes del Reino de España y se someten a la jurisdicción de los Juzgados y Tribunales competentes del Reino de España

%br
%hr
%br

%h1.line-b Condiciones generales de utilización del Servicio de anuncios
%h2 1. Condiciones Generales de uso
%p 1.1. El presente documento tiene por objeto establecer las Condiciones Particulares de Uso y Contratación Online del Servicio ANUNCIOS (en adelante el Servicio) prestado por Sudamos.com en el Portal de Internet http://www.sudamos.com, http://sudamos.com, http://sudamos.es o http://www.sudamos.es (en adelante Sudamos.com).
%p 1.2. La utilización y/o contratación del Servicio supone y expresa la adhesión y aceptación expresa del Anunciante a las presentes Condiciones Particulares de Uso y Contratación vía online del Servicio así como a las Condiciones Generales de Uso de Sudamos.com, constituyendo ambos documentos Las Condiciones Generales de Contratación que regirán la relación formalizada entre el Anunciante y Sudamos.com (en adelante las CONDICIONES GENERALES DE CONTRATACION)
%p 1.3. En caso de Discrepancia entre las Condiciones Generales de Uso de Sudamos.com y las Condiciones Particulares de Uso y Contratación vía Online del Servicio ANUNCIOS será de aplicación lo establecido en el presente documento.
%hr
%h2 2. Descripción del Servicio
%p 2.1. El Servicio consiste en la inserción de Anuncios Online de Sudamos.com. El Servicio incluye, asimismo la posibilidad de Renovación consecutiva de los Anuncios publicados en Sudamos.com.
%hr
%h2 3. Normas de Publicación de los Anuncios
%p Con carácter general, la publicación de Anuncios Gratis de Sudamos.com estará sujeta a las siguientes reglas de redacción:
%ul
  %li 3.1. Completar todos los apartados obligatorios del formulario de contratación del Anuncio
  %li 3.2. De igual forma, la publicación de Anuncios Gratis de Sudamos.com estará sujeta a las siguientes reglas:
  %ul
    %li a) No está permitida la repetición de anuncios aunque las provincias de dos anuncios sean diferentes.
    %li b) Sólo se pueden publicar 30 anuncios al día.
    %li c) No se publicarán anuncios relativos a armas de fuego u o cualquier producto, servicio o información que pueda ser contrario a la Ley, la moral u el Orden Público.
%hr
%h2 4. Manifestaciones y garantías del Anunciante/Indemnizaciones
%p 4.1. La inserción de Anuncios en el Portal se efectúa en consideración a las presentes manifestaciones y garantías que efectúa el Anunciante 
%p 4.2. Que el Anunciante tiene derecho a publicar el contenido del Anuncio, sin que ello infrinja la Ley y ningún derecho de terceros, incluyendo los derechos de propiedad industrial e intelectual. Será responsabilidad del Anunciante obtener todas las autorizaciones, públicas o privadas, y efectuar todos los pagos por la utilización de los derechos de propiedad intelectual e industrial que se contengan en el Anuncio. El Anunciante declara conocer que Sudamos.com ha aceptado efectuar la inserción del Anuncio sobre la base de la presente manifestación y garantía. 
%p 4.3. Que el Anunciante, así como el Anuncio, su contenido y cualquier material del Anunciante a que puedan acceder los Usuarios de Sudamos.com a través del anuncio, cumplen las normas vigentes sobre publicidad, incluida la efectuada por medios electrónicos y online, así como cualquier otra normativa aplicable, y, en especial, la relativa a telecomunicaciones, protección de consumidores y usuarios, derecho al honor, a la intimidad y a la propia imagen, y protección del menor y de la infancia. 
%p 4.4. Que la inclusión del anuncio en el Portal o en cualquiera de las websites no supone el incumplimiento ni la violación de ninguna obligación legal y/o contractual asumida por el Anunciante con terceras personas.
%p 4.5. Que el Anunciante será el único responsable, frente a los Usuarios de Sudamos.com y terceras personas del texto e información contenidas en el Anuncio. Así, a titulo enunciativo y en ningún caso limitativo, Sudamos.com no será responsable, ni directa, ni indirecta ni subsidiaria, de los daños y perjuicios de cualquier naturaleza que puedan derivarse para los usuarios de Sudamos.com y/o terceras personas de la falta de veracidad, exactitud y/o autenticidad, legalidad de los datos o informaciones contenidos en el Anuncio insertado
%p 4.6. El Anunciante reconoce y acepta que cualquier relación contractual o extracontractual que, en su caso, formalice con usuarios de Sudamos.com o terceras personas contactadas a través de Sudamos.com, se entienden realizados única y exclusivamente entre el Anunciante y el Usuario de Sudamos.com y/o la tercera persona. En consecuencia, el Anunciante acepta que Sudamos.com no tiene ningún tipo de responsabilidad, ni directa, ni indirecta ni subsidiaria, sobre los daños o perjuicios de cualquier naturaleza ocasionados a los Usuarios de Sudamos.com y/o terceras personas con motivo de las negociaciones, conversaciones y/o relaciones contractuales o extracontractuales que éstos formalicen con el Anunciante.
%p 4.7. En cualquier caso, el Anunciante accede a indemnizar a Sudamos.com, inmediatamente que sea requerido para ello, de todos los gastos, costes, perjuicios y pérdidas de cualquier tipo (incluyendo honorarios de abogados y procuradores, aunque su intervención no sea preceptiva) en que incurra Sudamos.com como consecuencia de cualquier reclamación, efectiva o inminente, de cualquier tipo, relativa a la publicación o comunicación al público del anuncio o de su contenido, incluyendo las basadas en violación de derechos de propiedad industrial o intelectual, calumnia, difamación, incumplimiento de deber de confidencialidad, revelación de secretos, incumplimiento de cualquier deber legal o reglamentario y/o de publicidad ilícita, falsa o engañosa.
%hr
%h2 5. Derecho a rechazar el Anuncio por Sudamos.com
%p 5.1. Sudamos.com no se obliga a revisar previamente el contenido de ningún Anuncio, y cualquier revisión o aprobación efectuada por Sudamos.com no debe entenderse como aceptación de que dicho Anuncio cumple los términos de las CONDICIONES GENERALES DE CONTRATACION
%p 5.2. Sudamos.com se reserva el derecho, ejercitable en cualquier momento y de modo discrecional, a: 
%ul
  %li 5.2.1. Rechazar cualquier Anuncio, la orden de inserción de anuncios, o compromiso de ubicación.
  %li 5.2.2. Eliminar cualquier anuncio del Directorio Sudamos.com o de cualquier página.
%hr
%h2 6. Varios
%p 6.1. Sudamos.com se reserva el derecho a efectuar las modificaciones que estime oportunas en las CONDICIONES GENERALES DE CONTRATACION. 
%p 6.2. Está terminantemente prohibido que terceros utilicen los datos de contacto para realizar ofertas comerciales que no han sido solicitadas por el anunciante. 
%p 6.3. Con carácter general, Sudamos.com informa al Anunciante que no archivará el documento electrónico en el que se formalice la contratación del Servicio. Asimismo le informa que el Procedimiento de Contratación del Servicio y todos los documentos contractuales que regirán la relación formalizada se realizarán en lengua española.
%p 6.4. Las CONDICIONES GENERALES DE CONTRATACION que han de regir la relación entre Sudamos.com y el Anunciante serán de aplicación desde el inicio del uso de los Servicios señalados en el presente Documento.
%p 6.5. La utilización y contratación del Servicios estará sujeta a #{link_to "Política de Protección de Datos de Sudamos.com", page_path("privacy")}.
%p 6.6. El usuario, al publicar un anuncio, acepta la posibilidad de que Sudamos.com ceda los datos de su anuncio a terceras empresas o medios de difusión de la información con el mismo propósito que Sudamos.com: Poner en contacto a personas através de cualquier medio de difusión. La responsabilidad de las terceras empresas así como de los usuarios de éstas terceras empresas, es el mismo que con Sudamos.com y los usuarios de Sudamos.com por lo que son aplicacles todas las condiciones de este contrato.
%hr
%h2 7. Uso de Cookies
%p Sudamos.com guarda cookies en el sistema del Usuario con el fin de mejorar la experiencia de navegación y recopilar datos estadísticos. El guardado de cookies puede ser desactivado usando la configuración del navegador web.
%h2 8. Ley aplicable y jurisdicción competente
%p 8.1. Todas las cuestiones relativas a la utilización y contratación del Servicio se rigen por las Leyes del Reino de España y se someten a la jurisdicción de los Juzgados y Tribunales competentes del Reino de España.
