%p
  Hola #{@resource.name},
%p
  Hemos recibido la solicitud de cambio de contraseña. Para cambiar tu contraseña haz click en el siguiente link: #{link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)}
%p
  Si no has hecho dicha solicitud, porfavor, ignora este email.
