.social
  = link_to icon("twitter fa-fw fa-inverse "), "https://twitter.com/sudamos_es", class: "twitter", target: "_blank"
  = link_to icon("facebook fa-fw fa-inverse "), "https://www.facebook.com/sudamos.es", class: "facebook", target: "_blank"
  = link_to icon("google-plus fa-fw fa-inverse "), "https://plus.google.com/+SudamosEs/about", class: "google", target: "_blank"